body{
	background-color:#fb5;
	margin:10px;
	padding:10px;
	}
h1{
	color:#222;
	font-size:30px;
	font-family:comic sans ms;
	text-align:center;
	text-decoration:underline;
	text-transform:uppercase;
  }
h2{ 
	color:#0000ff;
	text-align:center;
	text-transform:uppercase;
  }

  